/* Style CSS */

/* Style de la racine */

.background{ -fx-background-color: linear-gradient(from 74.6212% 18.9394% to 85.9848% 9.0909%, reflect, #070a66 0.0%, #2c70dc 100.0%);
    -fx-effect: dropshadow(three-pass-box,#AAAAAA, 3 , 0 , 0 , 3);

}
.textme{
    -fx-text-fill: linear-gradient(from 74.6212% 18.9394% to 85.9848% 9.0909%, reflect, #070a66 0.0%, #2c70dc 100.0%);
    -fx-effect: dropshadow(three-pass-box,#AAAAAA, 3 , 0 , 0 , 3);
    -fx-font-weight: bold;
    -fx-font-size: 200px;

;

}
.root {
    -fx-background-color: white;
}
.pay-button {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 7px;
    -fx-background-color: linear-gradient(to right ,#FF007F ,#FF69B4);
    -fx-effect: dropshadow(three-pass-box,#AAAAAA, 3 , 0 , 0 , 3);
    -fx-text-fill: white; /* Couleur du texte */
    -fx-padding: 10px 20px; /* Rembourrage (haut et bas, gauche et droite) */
    -fx-border-color: transparent; /* Couleur de la bordure */

}

.pay-button:hover {
    -fx-background-color: #FFC0CB; /* Couleur de fond au survol */
}

.pay-button:pressed {
    -fx-background-color:#FFC0CB; /* Couleur de fond lorsqu'appuyé */
}

.text-style1 {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
.text-style {
    -fx-text-fill: #FF0000;
    -fx-alignment: top-left;
    -fx-underline: true;
    -fx-font-family: Arial
}

.fade-out {
    -fx-opacity: 1;
    -fx-transition: opacity 3s;
}

.fade-out.to-zero {
    -fx-opacity: 0;
}

/* Style du bouton */
.btn {
    -fx-background-color: linear-gradient(to bottom right, #098c53, #246861);
      -fx-effect: dropshadow(three-pass-box,#AAAAAA, 3 , 0 , 0 , 3);
    -fx-text-fill: white ; /* Couleur du texte */
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 7px;
    -fx-border-style: solid;
    -fx-border-color:#C71585;
    -fx-font-family: Bold;
    -fx-font-size: 15px;
}
.btn:pressed, .btn:default:hover:pressed {
    -fx-background-color: 	#FFB6C1;
    -fx-text-fill: #1d1d1d;
}
.btn2{
-fx-text-fill:#b11958;
    -fx-border-radius: 8px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-background-radius: 7px;
    -fx-border-style: solid;
    -fx-border-color:#C71585;
    -fx-font-size: 15px;

}
.btn2:pressed, .btn2:default:hover:pressed {
    -fx-background-color: white;

}
.txt3{
    -fx-font-family:
    Verdana;
    -fx-font-size: 16px;

}

.text1 {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px; /* Adjust the font size as needed */
}

.bodyy{
    -fx-border-color:#A9A9A9	;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
/* Style de l'image */
.image-view {
    /* Ajoutez des styles supplémentaires pour les images si nécessaire */
}

/* Style du label */
.label {
    -fx-font-size: 14px; /* Taille de la police */
}

#AnchorPane {
    -fx-background-color: #FFFFFF; /* Couleur de fond */
}

.Home_btn {
    -fx-font-weight: bold;
}

.pane_top {
    -fx-background-color: #2c234d; /* Couleur de fond */
}

.pane_navBar {
    -fx-background-color: #720000; /* Couleur de fond */
    -fx-text-fill: #FFFFFF; /* Couleur du texte */
}

.grid {
    -fx-background-color: #FFFFFF; /* Couleur de fond */
}

.hbox {
    -fx-background-color: #FFFFFF; /* Couleur de fond */
}

/* Ajoutez d'autres styles CSS selon vos besoins */

.zina{
    -fx-text-fill : linear-gradient(from 26.8939% 33.3333% to 28.7879% 48.8636%, reflect, #000000 0.0%, #ff00c3 100.0%);
    -fx-effect: dropshadow(three-pass-box,#AAAAAA, 3 , 0 , 0 , 3);
    -fx-font-size: 20px;
}

.text-field2 {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 5px; /* Rayon des coins de la bordure */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-padding: 5px; /* Espacement interne */
}

.text-field2:hover {
    -fx-background-color: #e0e0e0; /* Couleur de fond au survol */
}
.btnListeProd {
    -fx-text-fill: #696969; /* Couleur du texte blanc */
    -fx-font-size: 15px; /* Taille de la police */
    -fx-font-weight: Arial ; /* Gras */
    -fx-pref-width: 140px; /* Largeur préférée */
    -fx-pref-height: 34px; /* Hauteur préférée */
    -fx-border-radius: 200px; /* Rayon de la bordure */
    -fx-border-color: #808080; /* Couleur de la bordure */
    -fx-border-width: 2px; /* Largeur de la bordure */

}
.btnListeProd:pressed, .btnListeProd:default:hover:pressed {
    -fx-background-color: white;

}







